html, body {
	height: 100%;
	color: #333;
	font-family: 'Josefin Sans', sans-serif;
}

body{
	overflow-x: hidden;
}

h1, h2, h4 {
	font-family: 'Josefin Slab', serif;
}

h1{
	font-weight: bold;
	font-size: 5.6em;
}

h2{
	font-weight: bold;
	font-size: 3.6em;
	margin-bottom: 0px;
}

h3{
	font-weight: 200;
	text-transform: uppercase;
	color: #1F7F7A;
	margin-bottom: 35px;
	margin-top: 0px;
	font-size: 1.5em;
	letter-spacing: 2px;

}

.inverted * {
	color: #fff;
}

button{
	background: none;
	font-size: 0.9em;
	padding: 8px 20px;
	border: 1px solid white;
	border-radius: 5px;
	transition: all 0.3s ease-in-out;
}

button:hover{
	background: #fff;
	color:#31B0A5;
}

.center-vert{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.fill-vert{
  height: 100%;
}

.right{
	text-align: right;
}

.slide{
	height: 100%;
}

p{
	font-size:1.4em;
	color: #555;
}

.div-line{
	height: 2px;
	width: 100px;
	background-color: #fff;
	margin-bottom: 20px;
	display: inline-block;
}

.two-pane .left-pane{
	display: block;
	position: absolute;
	height: 100%;
	width:50%;
	background-color:#eee;
}

.two-pane .right-pane{
	display: block;
	position: absolute;
	right:0px;
	height: 100%;
	width:50%;
	background-color:#333;
}

.part-placeholder{
	height: 100px;
}

#phone-overlay{
	position:fixed;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	pointer-events:none;
	background:none !important;
	z-index: 1;
}

#phone-image{
	display: block;
	width: 200px;
	-webkit-filter: drop-shadow(0px 4px 5px rgba(0,0,0,0.5));
  	filter: drop-shadow(0px 4px 5px rgba(0,0,0,0.5));
}

#phone{
	margin: 10px auto;
	width: 200px;
	transform: translate(-200px, -50px);
}

#phone-parts{
	visibility: hidden;
	position: absolute;
	top:0px;
	left: -1px;
	right:-4px;
	height: 100%;
}

#phone-parts.visible{
	visibility: visible;
}

#phone-parts img{
	position: relative;
	width:100%;
}

#phone-parts>div{
	height: 100%;
	display: inline-block;
}

#phone-parts .phone-left{
	width:67.2px;
}
#phone-parts .phone-right{
	margin-left: -1px;
	width:129.7px;
}

/*Slide 1*/

#slide1 {
	background-color: #31B0A5;
}

#slide1 p {
	font-size:1.6em;
	font-weight: 400;
}

#scroll-info {
	position: absolute;
	bottom:0px;
	width: 100%;
	text-align: center;
}

/*Slide 2*/

#slide2 {
	background-color: #fff;
	margin-bottom: 500px;
}

#slide2 h3 {
	color: #885319;
}

#slide2 .left-pane{
	background-color:#FFEEDB;
}

#slide2 .right-pane{
	background-color:#fff;
}

/*Slide 3*/

#slide3 {
	background-color:#fff;
	margin-bottom: 500px;
}

#slide3 h3 {
	color: #6f2928;
}

#slide3 .left-pane{
	background-color:#EBBAB9;
}

#slide3 .right-pane{
	background-color:#fff;
}

/*Slide 4*/

#slide4 {
	background-color:#fff;
	margin-bottom: 600px;
}

#slide4 h3 {
	color: #3c5d79;
}

#slide4 .left-pane{
	background-color:#fff;
}

#slide4 .right-pane{
	background-color:#6A8EAE;
}

/*Slide 5*/

#slide5 {
	background-color:#fff;
	margin-bottom: 600px;
}

#slide5 h3 {
	color: #844c30;
}

#slide5 .left-pane{
	background-color:#fff;
}

#slide5 .right-pane{
	background-color:#D0B8AC;
}

#slide6 {
	background-color: #31B0A5;
}

#slide6 p {
	font-size:1.6em;
	font-weight: 400;
}

#footer-title{
	margin-top: 70px;
}

#slide6 button{
	margin-top: 15px;
}

#footer{
	position: absolute;
	top:20px;
	width:100%;
	text-align: center;
}

#footer p {
	font-size: 1.2em;
}
